<div class="signup-card">
    <div class="card-title">
        <h1>Create Account</h1>
        <span>Already have an account? <a href="#">Sign In</a></span>
    </div>
    <form class="form-group" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="input-group">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" formControlName="name" placeholder="Enter your name">
        </div>
        <div class="input-group">
            <label for="surname">Surname</label>
            <input type="text" id="surname" name="surname" formControlName="surname" placeholder="Enter your surname">
        </div>
        <div class="input-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" formControlName="email" placeholder="Enter your email">
        </div>
        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" formControlName="password" placeholder="Enter your password">
        </div>
        <button type="submit" [disabled]="!signupForm.valid">Signup</button>
    </form>
</div>
