<div *ngIf="showModal" class="modal">
  <div class="modal-content">
    <span (click)="onCancel()" class="close">&times;</span>
    <h2>Draw Details</h2>

    <div class="form-group drawName">
      <label for="drawingName">Draw Name:</label>
      <input type="text" id="drawingName" [(ngModel)]="drawingName" />
    </div>

    <div class="form-group drawKind">
      <label for="drawingType">Draw Kind:</label>
      <span>{{ drawingType }}</span>
    </div>

    <div class="form-group drawSize">
      <label for="drawingSize">Draw Size:</label>
      <span>{{ drawingSize }} {{ getUnit(drawingType) }}</span>
    </div>

    <button (click)="onSave()" class="saveButton">Save</button>
    <button *ngIf="!isNewDrawing()" class="deleteButton" (click)="onDeleteDrawing()">Delete</button>
    <button (click)="onCancel()" class="cancelButton">Cancel</button>
  </div>
</div>
